<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Workers Make the Difference</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <meta property="og:image" content="/img/asu-fb-share.png" />
    <meta property="og:url" content="http://www.findmyleave.com.au" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="You make a difference everyday and deserve to be valued for what you do." />
    <meta property="og:description"
        content="Every worker in the community and disability sector should have: regular support and training at work. Paid time off for holidays and breaks, including long service leave. Paid time off for when you are unwell or need to care for others. A secure job in community services, not fixed term contracts linked to funding cycles." />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@asu_nsw_act">
    <meta name="twitter:title" content="You make a difference every day and deserve to be valued for what you do.">
    <meta name="twitter:description"
        content="Every worker in the community and disability sector should have: regular support and training at work. Paid time off for holidays and breaks, including long service leave. Paid time off for when you are unwell or need to care for others. A secure job in community services, not fixed term contracts linked to funding cycles.">
    <meta name="twitter:image" content="/img/workersmakethediff-twitter.png">
    <meta name="twitter:image:alt" content="find my leave website banner">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <section class="min-vh-100 dark">
        <div class="container">
            <div class="row">

                {{{body}}}

            </div>
            <div id="footer" class="text-center col-md-12 mb-3 p-4">
                <p class="mt-5 text-white text-center mb-2 footer">* This is intended as a guide for NSW workers on the
                    SCHADS Award only.
                    Speak with your Union to find out your individual entitlements. Casual workers don’t accrue
                    personal leave or annual leave – but are entitled to long service leave. Joining your union is
                    the best prevention to unpaid entitlements. Authorised by Natalie Lang, Australian Services
                    Union NSW &#38; ACT (Services Branch). Joining your union is the best way to prevent unpaid
                    entitlements. Sign up <a class="" target="_blank" href="https://www.asu.asn.au/asujoin">online</a>
                    or over the phone today on (02) 9310
                    4000.

                    If you are an admin you can login <a class="" href="/login">here</a>.
                </p>
            </div>
        </div>
    </section>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>