<div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 mx-auto text-center p-5">

    <img class="logo mb-4" src="./img/WMtD.png">
    <h2 class="text-white mb-5">How much leave are you owed?</h2>
    <form class="entry-form" id="entry-form">
        <div class="row">
            <div class="col">
                <label class="text-white mb-2">Name: <span>*</span>&nbsp;</label>
                <input type="text" class="form-control mb-3 name-entry" placeholder="Your Name" name="name-entry"
                    id="name-entry" required />
            </div>
            <div class="col">
                <label class="text-white mb-2">Phone: <span>*</span>&nbsp;</label>
                <input type="text" class="form-control mb-3 phone-entry" placeholder="0452210918" name="phone"
                    id="phone-entry" required />
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-7">
                <label class="text-white mb-2">Email address: <span>*</span>&nbsp;</label>
                <input type="text" class="form-control mb-3 email-entry" placeholder="your@email.com"
                    name="email_address" id="email-entry" required />
            </div>
            <div class="col-5">
                <label class="text-white mb-2">Postcode: <span>*</span>&nbsp;</label>
                <input type="text" class="form-control mb-3 post-entry" placeholder="2000" name="post-entry"
                    id="post-entry" required />
            </div>
        </div>

        <div class="row">
            <div class="col">

                <label class="text-white mb-2">Are you a union member? <span>*</span>&nbsp;</label>
                <br>
                <div class="toggle2">

                    <input class="form-check-input" type="radio" name="unionOptions" checked="checked" id="inlineRadio1"
                        value="yesunion">
                    <label for="inlineRadio1">Yes</label>

                    <input class="form-check-input" type="radio" name="unionOptions" id="inlineRadio2" value="nounion">
                    <label for="inlineRadio2">No</label>

                </div>
            </div>
        </div>



        <div class="row mb-2">
            <div class="col">
                <label class="text-white mb-2">Sector: <span>*</span>&nbsp;</label>
                <select id="sector-entry" class="form-select">
                    <option selected value="Community sector">Community sector
                    </option>
                    <option value="Disability sector">Disability sector</option>
                    <option value="Child protection, youth and family services">Child protection, youth and family
                        services
                    </option>
                    <option value="Women’s Services">Women’s Services</option>
                    <option value="Community and Neighbourhood Centres">Community and Neighbourhood Centres</option>
                    <option value="Migrant and settlement services">Migrant and settlement services</option>
                    <option value="Policy and Advocacy">Policy and Advocacy
                    </option>
                    <option value="Housing and homelessness">Housing and homelessness</option>
                    <option value="Mental Health">Mental Health</option>
                    <option value="Not For Profit">Not For Profit</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="col">
                <label class="text-white mb-2">Employer:</label>
                <input type="text" class="form-control mb-3 employer-entry" placeholder="Employer" name="employer-entry"
                    id="employer-entry" />
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">

                <label class="text-white mb-2">Are you a shift worker? <span>*</span>&nbsp;</label>
                <br>
                <div class="toggle">

                    <input class="form-check-input" type="radio" name="shiftOptions" checked="checked" id="inlineRadio3"
                        value="yesshift">
                    <label for="inlineRadio3">Yes</label>


                    <input class="form-check-input" type="radio" name="shiftOptions" id="inlineRadio4" value="noshift">
                    <label for="inlineRadio4">No</label>
                </div>
            </div>

        </div>

        <div class="row mb-2 justify-content-center">
            <div class="col-5">
                <label class="text-white mb-2">Years working in your role: <span>*</span>&nbsp;</label>
                <select id="years" class="form-select">

                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option selected value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                </select>
            </div>
        </div>

        <br>

        <button type="submit" id="custom_submit" value="Submit" class="btn btn-danger">Submit</button>


    </form>





    <script src="/js/entry.js"></script>